.referencement {

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        font-family: 'Italianno', cursive;
        font-size: 60px;
    }

    &__subtitle {
        
    }

}