@import '../../../App.scss';

.copyright {
    background: $color-dark;

    &__inner {
        padding-top: 10px;
        padding-bottom: 10px;    
        text-align: center;
    }

    span {
        color: #fff
    }
}