.quantity-box {
    display: flex;
    border: 1px solid #e3e3e3;
    margin: 10px;
  
    &-control {
      cursor: pointer;
      padding: 5px 15px;
      background-color: #e8e8e8;
      font-weight: bold;
      font-size: 25px;
    }
  
    &-increment {
  
    }
  
    &-decrement {
  
    }
  
    &-input {
      border: 0 none;
      text-align: center;
      width: 50px;
    }
  
  }