@import '../../../App.scss';

.contact {
    background-color: $color-dark;

    &__inner {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__heading {
        color: #fff;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
    }

    &__newsletter {
        display: flex;
        align-items: center;
    }

    &__block-left,
    &__block-right {
        max-width: 50%;
        width: 100%;
        flex: 0 0 50%;
    }

}