@import "../../../App.scss";

.products {
    //background-color: $color-gold; 
    margin-top: 20px;
    margin-bottom: 20px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

