.navbar-light .navbar-nav a {
    color: #fff;
    font-weight: 300;
    transition: all .3s ease-in-out;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        color: #fff;
        opacity: .6;
    }

}